version: 2

jobs:
  unitTests:
    docker:
      - image: web3f/node:v0.1.3
    steps:
      - checkout
      - run: yarn
      - run:
          name: Run unit tests
          command: |
            yarn test

  e2eTests:
    docker:
      - image: web3f/node:v0.1.3
      - image: parity/polkadot:v0.9.8
        name: polkadot
        command: --chain=kusama-dev --alice --ws-port 11000 --ws-external --rpc-methods=Unsafe --rpc-cors=all
    steps:
      - checkout
      - run: yarn
      - run:
          name: Run e2e tests
          command: |
            yarn e2e-test

  yarnLint:
    docker:
      - image: web3f/node-dind:v1.0.0
    steps:
      - checkout
      - run: yarn
      - run: yarn lint          

  buildImage:
    docker:
      - image: web3f/ci-commons:v2.4.15
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.7
      - run:
          command: |
            /scripts/build-image.sh web3f/accountant .

  publishImage:
    docker:
      - image: web3f/ci-commons:v2.4.15
    steps:
      - checkout
      - setup_remote_docker
      - run:
          command: |
            /scripts/publish-image.sh web3f/accountant

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - unitTests:
          filters:
            tags:
              only: /.*/
          requires:
            - yarnLint  
      - e2eTests:
          filters:
            tags:
              only: /.*/
          requires:
            - yarnLint
      - yarnLint:
          filters:
            tags:
              only: /.*/        
      - buildImage:
          context: dockerhub-bot
          filters:
            tags:
              only: /.*/
          requires:
            - unitTests
            - e2eTests
      - publishImage:
          context: dockerhub-bot
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
          requires:
            - buildImage
